<!DOCTYPE html>
<html>
<head>
  <title>Edit Question</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="app">
  <div class="card">
    <h1>Edit Question ✏️</h1>

    <textarea id="question" rows="3"></textarea>
    <select id="type"></select>

    <input id="opt0">
    <input id="opt1">
    <input id="opt2">
    <input id="opt3">

    <input type="file" id="image">
    <div id="answers"></div>

    <button class="btn" onclick="updateQuestion()">Update</button>
  </div>
</div>

<script src="/js/admin-edit-question.js"></script>
</body>
</html>
