<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="app">
  <div class="card">

    <div class="progress">
      <div class="progress-bar" id="progressBar"></div>
    </div>

    <div class="timer">⏱ <span id="timer">300</span>s</div>
    <div class="warning" id="warning"></div>

    <h1 id="qno">Question</h1>
    <p id="question"></p>

    <div id="options"></div>

    <button class="btn" id="nextBtn" disabled onclick="nextQuestion()">Next</button>
    <button class="btn secondary" onclick="submitQuiz()">Submit</button>

  </div>
</div>

<script src="/js/quiz.js"></script>
</body>
</html>
